
body {

    margin: 0;
    box-sizing: border-box;
    /* position: relative; */
}

svg text {
    font-family: sans-serif;
    fill: #635F5D
}

.tick text {
    text-transform: uppercase
}



.tick text {
    fill: #635F5D
}

.tick line {
    stroke: #C0C0BB;
}

svg {
    border: 1px solid pink;
    position: relative;
    
}

.casesPerCapita {
    font-size: 10px;
    font-family: sans-serif;
}

rect {
    opacity: 1;
    /* transition: .3s ease-in; */
    z-index: 1;
    position: relative;
}



rect:hover {
    opacity: 0.5;
    transition: .3s ease-in
}

.hide-element{
    display: none
}

.show-element{
    display: block
}

#nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid red;
    align-items: flex-start;
    max-height: 20px;
}




/* https://stackoverflow.com/questions/17714705/how-to-use-checkbox-inside-select-option */

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

/* .selectBox select {
  width: 100%;
  font-weight: bold;
}  */

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  z-index: 99999;
  position: absolute;
  background-color: white;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}


