

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "Nunito", sans-serif;
}

body {

    margin: 0;
    box-sizing: border-box;
      background-color: #eeecec;
    /* position: relative; */
}

svg text {
    font-family: sans-serif;
    fill: #635F5D
}

.tick text {
    text-transform: uppercase
}



.tick text {
    fill: #635F5D
}

.tick line {
    stroke: #C0C0BB;
}



.casesPerCapita {
    font-size: 10px;
    font-family: sans-serif;
}

rect {
    opacity: 1;
    /* transition: .3s ease-in; */
    z-index: 1;
    position: relative;
}



rect:hover {
    opacity: 0.5;
    transition: .3s ease-in
}


#nav{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    color: #293d6a;
    font-size: clamp(10px, 3vw, 16px);
    border-bottom: 1px solid #293d6a;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 2.5rem;
}

.nav-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

}



input, select {
    background-color: #f7f7f7;
    color: #293d6a;
    border: none;
    font-size: clamp(10px, 3vw, 16px);
}




::-webkit-calendar-picker-indicator{
    /* https://stackoverflow.com/questions/65409348/html-input-date-how-to-decrease-space-between-date-and-icon */
    margin-left: -5px;
}


#start-date, #end-date {
    font-size: clamp(10px, 3vw, 16px);
    
}

.nav-div > div{
margin-right: 5px;
}








#tooltip{
    background: yellow;
    color: black;
}

#tooltip:first-letter {
    text-transform:capitalize;
}


/* https://stackoverflow.com/questions/17714705/how-to-use-checkbox-inside-select-option */

/* .multiselect {
  width: 200px;
} */

.selectBox {
  position: relative;
}

/* .selectBox select {
  width: 100%;
  font-weight: bold;
}  */

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #f7f7f7 solid;
  z-index: 99999;
  position: absolute;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.checkboxes label {
  display: flex;
  align-items: center;
}

.checkboxes label:hover {
  background-color: #293d6a;
  color: #f7f7f7;
}

.checkboxes label input{
    margin-right: 8%;
    margin-left: 8%;
}

#content-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#content-wrapper > div, #content-wrapper > svg {
    /* max-width: 95vw; */
    background-color: #f7f7f7;
    color: #293d6a;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

svg {
    display: none;
    border: 1px solid #293d6a;;
    position: relative;
    
}


@media only screen and (max-width: 673px) {
.nav-div > div {
    margin-bottom: 5px;
}

.nav-div {
    margin-top: 5px;
}
}




