
body {

    margin: 0;
    box-sizing: border-box;
}



.tick text {
    fill: #635F5D
}

.tick line {
    stroke: #C0C0BB;
}

svg {
    border: 1px solid pink
}

.casesPerCapita {
    font-size: 10px;
    font-family: sans-serif;
    fill: white;
}

rect:hover {
    opacity: 0.5;
}